
{% extends 'flatpages/default2.html' %}
{% load custom_tags %}
{% block title %}
tovars
{% endblock title %}

{% block content %}
   <h1>Все товары</h1>
   <p><a href="/tovars/">обратно ко всем товарам</a></p>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   <hr>
   {% if tovars_search %}
       <table class="table-bordered" width="100%">
           <tr align="left">
               <th>nametov</th>
               <th>tekst</th>
               <th>price</th>
               <th>kolvo</th>
               <th>data_izm</th>
               <th>reshenie_moderator</th>
               <th>images</th>
               <th>category</th>
           </tr>
           {% for tovar in tovars_search %}
           <tr align="left">
               <td width="10%">{{ tovar.nametov }}</td>
               <td width="20%">{{ tovar.tekst }}</td>
               <td width="10%">{{ tovar.price }}</td>
               <td width="10%">{{ tovar.kolvo }}</td>
               <td width="20%">{{ tovar.data_izm }}</td>
               <td width="10%">{{ tovar.reshenie_moderator }}</td>
               <td width="10%">{{ tovar.images }}</td>
               <!--<td width="10%">{{ tovar.category }}</td>-->

               <td width="10%">
                   {% for category in tovar.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category.namecat }}</a>
                   {% endfor %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>товаров нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<p><a href="/news/create/">добавить товар</a></p>

{% endblock content %}

